body {
  background-color: ghostwhite;
  color: darkslategray;
}

.page {
  margin: 40px
}

.subreddit_name_prefixed {
  color: gray;
  font-size: .8em;
  display: block
}

.score {
  font-size: 1.3em;
  display: inline;
}

.header {
  margin-left: 20px;
}

.titleRow {
  margin-bottom: 1em;
}

.title {
  font-size: 1.8em;
  display: inline;
  margin-left: 1em;
}

.App {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.post {
  background-color: rgb(226, 226, 238);
  border-radius: 15px;
  padding: 20px;
}

.comment {
  padding: 10px 0px 10px 20px;
}

.comment .comment {
  border-left: 1px solid rgb(223, 220, 220);
}

.author {
  font-size: .9em;
  color: teal;
  display: inline;
  margin-right: 10px;
}

.points, .stamp {
  font-size: .8em;
  font-family: Tahoma;
  display: inline;
  color: black;
}

.float-right {
  float: right;
}

.hover:hover {
  cursor: pointer;
}